*{
 padding: 0;
 margin: 0;
 font-family: arial, helvetica, sans-serif;
}
h1{
 text-align: center;
}
a{
 text-decoration: none;
}
a:link{
 color: #191970;
 width: 100%;
}
a:hover{
 color: #ffffff;
}

nav{
 padding: 20px;
 width:10%;
 margin: 0 auto;
}

nav ul{
 text-align: center;
}

nav ul li{
 list-style: none;
 display: block;
 padding: 5px 10px;
 border-radius: 16px 0 16px 0;
 margin-bottom: 10px;
 border: 1px solid black;
}

