*{
    margin: 0px;
    padding: 0px;
}

h1{
    margin-top: 20px;
    text-align: center;
}

.wrapper{
    width:80%;
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.advice_section{
    border: 1px solid black;
    width:48%;
    margin-top: 50px;
}

.section:after {
    content: "";
    display: table;
    clear: both;
}

.full-width-block{
    width: 100%;
    margin-top: 50px;
    border: 1px solid black;
}

.full-width-block ul{
    margin-top: 10px;
    margin-left: 50px;
}

